.game-container {
    background-color: #323032;
    width: 75%;
    margin: auto;
    margin-top: 15px;
    padding: 10px;
    border-radius: 12px;
}

.main-info {
    display: flex;
    justify-content: space-around;
}

.image-container {
    padding: 20px;
}